/* css */
.face {
  background-color: #FEE8D4;
  height: 400px;
  width: 350px;
  z-index: -10;
  border-radius: 50%;
  border: 40px solid #EDD6B5;
  position: absolute;
}
.hair-end {
  top: 200px;
  height: 300px;
  width: 430px;
  background-color: #EDD6B5;
  z-index: -20;
  position: absolute;
}
.hair {
  background-color: #EDD6B5;
  z-index: 0;
  position: relative;
  height: 480px;
  width: 430px;
  border-radius: 50%;
}
.eye {
  top: 110px;
  background-color: #1B5675;
  z-index: -5;
  height: 38px;
  width: 47px;
  border-radius: 50%;
  border: 12px solid white;
  position: absolute;
}
.eyebrow {
  background-color: #BC9986;
  width: 68px;
  height: 8px;
  position: absolute;
  top: 90px;
  z-index: -5;
}
.left {
  left: 70px;
}
.right {
  right: 70px;
}
.nose {
  background-color: #DAC6B4;
  position: absolute;
}
.bridge {
  width: 16px;
  height: 40px;
  top: 190px;
  left: 170px;
}
.nostril {
  width: 30px;
  height: 12px;
  top: 213px;
  left: 163px;
}
.lips {
  background-color: #F0B3B3;
  width: 98px;
  height: 35px;
  position: absolute;
  z-index: -5;
  left: 130px;
  top: 300px;
  border-radius: 50%;
}
.mouth {
  background-color: #D09D9D;
  width: 98px;
  height: 4px;
  position: absolute;
  z-index: 0;
  left: 130px;
  top: 315px;
}
